*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* we are applying some fonts here  */

@font-face{
    font-family: popins-semibold;
    src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face{
    font-family: popins-bold;
    src: url('/fonts/Poppins-Bold.ttf');
}

nav{
    border-bottom: rgb(61, 69, 85) 3px solid ;
    
}

.active-page{
    background-color: rgb(54, 54, 54);
    border-left: 4px solid white;
    border-bottom-left-radius: 15px;
}
.logo {
    height: 40px;width: 40px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: whitesmoke;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.sideright{
background-color: rgb(61, 69, 85);
border-radius: 5px;
padding: 35px;
width: 250px;
}
#main{
    background-color: rgb(245, 241, 241);
    color:black ;
}
    .side-styles{
        border: 2px solid rgb(61, 69, 85);
    }
    .num-style{
        color: rgb(255, 115, 0);
        font-size: larger;
    }
    .fw{
        font-size: large;
        font-weight: bold;
    }
    .carousel .indicators .indicator-item.active {
        background-color: rgb(26, 25, 25) !important;
    }
    .carousel .indicators .indicator-item {
        background-color: rgb(255, 115, 0) !important;
    }
.tip{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
#t10{
    background-image: url(../img/sleep\ table.jpg) ;
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
}
#t20{
    background-image: url(../img/1302.jpg);
    width: 100%;
    border: 1px solid  rgb(61, 69, 85);
    color: black;
    height: fit-content;
}
.sidebar{
    float: right;
    margin-top: 40px;
    line-height: 2em;
    background-color: rgb(61, 69, 85);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin-right: 70px;

}
caption{
    background-color: rgb(61, 69, 85);
    color: white;
}
.opacity{
    opacity: 0.3;
}
footer{
  padding: 15px;
  margin-top: 15px;
  color: whitesmoke;
  background-color: rgb(61, 69, 85);
  text-align: center;
  }

/* the styles bellow are called DRY styles  */
/* DRY stands for Dont Repeat Yourself  so basically these styles are styles you are most likely to use over and over again*/

/* dry styles */
h1,h2,h3,h4,h5,h6{
    font-family: popins-bold;
    font-weight: bolder;
}

span,p,a,li{
    font-family: popins-semibold;
    font-size: medium;
}


.pt40 {
    padding-top: 30px !important;
}
.mt20{
    margin-top: 5px !important;
}
.mt40 {
    margin-top: -28px !important;
}


/* /dry styles */